{% extends 'base.html' %}

{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <title>UPLOAD</title>
</head>
<body>
    <p>hey</p>
    <form action="/upload" method="post">
        <div class="form-group">
            <label for="name">Chart Name</label>
            <input type="text" name="chart_name" id="chart_name"
                   placeholder="enter the name of your chart" class="form-control"
                   value="{{ request.form['chart_name'] }}"/>
        </div>
    </form>
</body>
</html>
{% endblock %}

